@font-face {
  font-family: 'Pokemon Solid Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Pokemon Solid Normal'), url('Pokemon Solid.woff') format('woff');
}
h1
{
  font-family: 'Pokemon Solid Normal';
  color: #FCCF00;
  font-weight: 100;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@supports (-webkit-text-stroke: 0.3rem black) {
  h1 {
    -webkit-text-stroke: 0.3rem #2468b1;
    -webkit-text-fill-color: #FCCF00;
  }
}
.tc{
  text-align: center;
}
.container{
  margin: 0;
  padding: 0;
  /* The image used */
  background-image: url("pdex.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header
{
  height: 40vh;
}