@font-face {
  font-family: 'Pokemon Solid Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Pokemon Solid Normal'), url('Pokemon Solid.woff') format('woff');
}
h1
{
  font-family: 'Pokemon Solid Normal';
  color: #FCCF00;
  font-weight: 100;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

@supports (-webkit-text-stroke: 0.15rem black) {
  h1 {
    -webkit-text-stroke: 0.15rem #2468b1;
    -webkit-text-fill-color: #FCCF00;
  }
}
.tc{
  text-align: center;
}
.container{
  margin: 0;
  padding: 0;
 
}
.header
{
  height: 40vh;
}